header{
    background: linear-gradient(skyblue, lightgreen);
    background-attachment:fixed;
    background-repeat: no-repeat;
}
 #ten{
    font-family:  Brush Script MT;
    color: darkblue;
    font-style: italic;
    margin-left: 70px;
 }
 body{
    background-image: url(pngtree-aurora-borealis-on-night-sky-over-winter-landscape-with-rocks-aurora-picture-image_2294018.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

 #anhchandung{
    height: 70px;
    margin-left: 150px;

 }
 #introduction{
    background-color: black;
    margin-left: 500px;
    max-width: 400px;
    font-family:  Brush Script MT;
}
 footer{
    margin-top: 350px;
    background-color: aqua;
 }
